###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/
/public/bundles/
/var/
/vendor/
/public/assets/img/groups/
/public/assets/img/products/
/public/assets/img/shops/
/public/assets/img/users/
###< symfony/framework-bundle ###
# ---------------------------------------

.vscode/
coverage.xml
public/code-coverage

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> lexik/jwt-authentication-bundle ###
/src/Common/Adapter/Framework/Config/JwtKeys/Lexik/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
.phpunit.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
