<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         colors="true">

    <php>
        <ini name="memory_limit" value="1024M" />
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="10.5" />
        <env name="APP_ENV" value="test" force="true" />
    </php>

    <source restrictDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>


    <coverage includeUncoveredFiles="false"
              pathCoverage="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
    </coverage>

    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">tests/Functional</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="unitUser">
            <directory suffix="Test.php">tests/Unit/User</directory>
        </testsuite>
        <testsuite name="unitGroup">
            <directory suffix="Test.php">tests/Unit/Group</directory>
        </testsuite>
        <testsuite name="unitListOrders">
            <directory suffix="Test.php">tests/Unit/ListOrders</directory>
        </testsuite>
        <testsuite name="functionalUser">
            <directory suffix="Test.php">tests/Functional/User</directory>
        </testsuite>
        <testsuite name="functionalGroup">
            <directory suffix="Test.php">tests/Functional/Group</directory>
        </testsuite>
        <testsuite name="functionalNotification">
            <directory suffix="Test.php">tests/Functional/Notification</directory>
        </testsuite>
        <testsuite name="functionalProduct">
            <directory suffix="Test.php">tests/Functional/Product</directory>
        </testsuite>
        <testsuite name="functionalShop">
            <directory suffix="Test.php">tests/Functional/Shop</directory>
        </testsuite>
        <testsuite name="functionalOrder">
            <directory suffix="Test.php">tests/Functional/Order</directory>
        </testsuite>
        <testsuite name="functionalListOrders">
            <directory suffix="Test.php">tests/Functional/Order</directory>
        </testsuite>
    </testsuites>
</phpunit>
