parameters:
  group.image.path: "%env(string:GROUP_IMAGE_PATH)%"
  group.public.image.path: "%env(string:GROUP_IMAGE_PUBLIC_PATH)%"
  group.user.public.image.path: "%env(string:USER_IMAGE_PUBLIC_PATH)%"

services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      $appProtocolAndDomain: "%common.app.protocolAndDomain%"
      $groupImagePath: "%group.image.path%"
      $groupPublicImagePath: "%group.public.image.path%"
      $userPublicImagePath: "%group.user.public.image.path%"
      $systemKey: "%common.system.key%"

  # Adapter
  Group\Adapter\:
    resource: "../../../../../Group/Adapter/"

  # Application
  Group\Application\:
    resource: "../../../../../Group/Application/"

  # Domain
  Group\Domain\:
    resource: "../../../../../Group/Domain/"
