<?php

declare(strict_types=1);

namespace [NAMESPACE];

class [ENDPOINT]Dto
{
    public function __construct(
    ) {
    }

    public function __invoke([ENDPOINT]Dto $args): void
    {
        // [NAMESPACE_INNER_LAYER]
    }
}
