<?php

declare(strict_types=1);

namespace [NAMESPACE];

use Common\Adapter\Http\Dto\RequestDtoInterface;
use Symfony\Component\HttpFoundation\Request;

class [ENDPOINT]RequestDto implements RequestDtoInterface
{
    public function __construct(Request $request)
    {
    }
}
